<!DOCTYPE html>
<html>
<head>
	<title>Medical chatbot</title>
  	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='indexstyle.css') }}">
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid bot">
  <div class="chatbox">
    <div class="chatlogs">
      
      {% for i in chat %}

        {% if i["speaker"] == "user" %}
        <div class="chat self">
          <p class="chat-message">{{i["chat"]}}</p>
        </div>
        {% endif %}

        {% if i["speaker"] == "bot" %}
        <div class="chat friend">
         <div class="user-photo"><img src="nature.jpg"></div>
          <p class="chat-message">{{i["chat"]}}</p>
        </div>
        {% endif %}

        
      
      {% endfor %}

  </div>
  <div class="chat-form">
    <form action="{{ url_for('form') }}" method="POST">
      <div id="userInput">
        <input id="textInput" type="text" name="text" placeholder="Message">
        <input id="buttonInput" type="submit" value="Send">
      </div>
    </form>
  </div>
</div>
</div> 

<script>

$('.chatlogs').scrollTop($('.chatlogs')[0].scrollHeight);

$('.jumbotron #buttonInput').on('click', function() {
$('html, body').animate({
  scrollTop: $('.chatbox').offset().top - $('nav').height()
}, 500);
});



</script>

</body>
</html>