<!doctype html>
<html lang="en">
<head>
  <title>Medical chatbot</title>
  <link rel="stylesheet" type="text/css" href="main_style.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">
    .jumbotron {
      background-color: rgb(0, 0, 54);
      width: 100%;
      height: 650px;
    }
  </style>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">MediBot</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
        <li><a href="#">Page 4</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center">
  <img src="medibot.jpg" alt="medibot">
  <h1 style="color: white;">Welcome to MediBot!</h1>
  <input id="buttonInput" type="submit" value="Chat with Bot">
</div>

<div class="chatbox">
  <div class="chatlogs">
    <div class="chat friend">
      <div class="user-photo"></div>
      <p class="chat-message">What's up, Brother..!!</p>
    </div>
    <div class="chat self">
      <p class="chat-message">What's up!!</p>
    </div>
    <div class="chat friend">
      <div class="user-photo"></div>
      <p class="chat-message">What's up, Brother..!!</p>
    </div>
    <div class="chat self">
      <p class="chat-message">What's up!!</p>
    </div>
    <div class="chat friend">
      <div class="user-photo"></div>
      <p class="chat-message">What's up, Brother..!!</p>
    </div>
    <div class="chat friend">
      <div class="user-photo"></div>
      <p class="chat-message">What's up, Brother..!!</p>
    </div>
    <div class="chat friend">
      <div class="user-photo"></div>
      <p class="chat-message">What's up, Brother..!!</p>
    </div>
    <div class="chat friend">
      <div class="user-photo"></div>
      <p class="chat-message">The width of this div remains at 300px, in spite of the 50px of total left and right padding, because of the box-sizing: border-box property.</p>
    </div>
  </div>
  <div class="chat-form">
    <form action="{{ url_for('form') }}" method="POST">
      <div id="userInput">
        <input id="textInput" type="text" name="text" placeholder="Message">
        <input id="buttonInput" type="submit" value="Send">
      </div>
    </form>
  </div>
</div>

<script>

$('.jumbotron #buttonInput').on('click', function() {
$('html, body').animate({
  scrollTop: $('.chatbox').offset().top - $('nav').height()
}, 500);
});
</script>

var chatbox = document.
querySelector(".chatlogs");

chatbox.scrollTop = chatbox.
scrollHeight;

<script>

$('.chat-form').on('submit', function(e) {
e.preventDefault();
var $el = $(this);
$.ajax({
    type: "POST",
    url: $el.attr('action'),
    data: $el.serialize(),
    success: function(data) {
        var html = $.parseHTML(data);
        var k = $(html[0]).find('.chatlogs').html();
        //*If nothing else, just this next line*//
        $('.chatlogs').html(k).scrollTop($('.chatlogs')[0].scrollHeight);
    }
});
});
</script>
</body>
</html>
  